<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title></title>
  </head>
  <body>
    <nav class ='navbar navbar-default navbar-static-top'>
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a class"navbar-brand" href="{% url 'index' %}">Django</a></li>
          <li><a class"navbar-link" href="{% url 'admin:index' %}">Admin</a></li>
          <li><a class"navbar-link" href="{% url 'basic_app:register' %}">Register</a></li>

          {% if user.is_authenticated %}
            <li><a class='navbar-link' href="{% url 'logout' %}">Logout</a></li>
          {% else %}
            <li><a class='navbar-link'  href="{% url 'basic_app:user_login' %}">Login</a></li>
          {% endif %}


        </ul>
    </nav>
    <div class="container">

    </div>
    {% block body_block %}
    {% endblock %}
  </body>
</html>
